@model MvcMovie.Models.User

@{
    ViewData["Title"] = "Log in";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="LogIn">
    <br />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>Name:</label><br />
    <input type="text" name="login" /><br /><br />
    <label>Password:</label><br />
    <input type="text" name="password" /><br /><br />
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Log in" class="btn btn-default" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


